<html>
<body align = "center">
    <h2>Employee Adding Form</h2>
    <form method="post">
        <label for="eid">Employee Id:</label><br>
        <input type="number" id="eid" name="eid"><br>
        <label for="name">Full Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="salary">Salary:</label><br>
        <input type="number" id="salary" name="salary"><br><br>
        <input type="submit" href="List" value="Add"> &ensp;
        <input type="reset" value="Clear Form"><br><br>
    </form>
</body>
</html>
