<html>
<body align="center">
    <h2>Employee Update Form</h2>
    <form method="post">
        <label for="eid">Your Employee Id:</label><br>
        <input type="number" id="eid" name="eid"><br>
        <label for="email">New Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <input type="submit" href="List" value="Update"><br/><br/>
    </form>
        <form action="/Employee/DeleteEmp">
              <input type="submit" value="Delete">
        </form>
</body>
</html>
